@page "/"
<PageTitle>Index</PageTitle>

<h1 class="nav-link"> Hello, world!</h1>

Welcome to your new app.

@*<RenderableContentControl Context="@Entry.Plc.weather_tabbed"></RenderableContentControl>*@
<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-danger">Cauko</button>

<input class="form form-control" />